<div class="container-1">
    <div class="column column-1">
        <h1 class="footer-title .h3">Pages</h1>
    <div class="seperator"></div>

        <a href="/register">Register | Login</a>
        <a href="/planner">Create</a>
        <a href="/analytics">Analytics</a>
        <a href="/tasks">Tasks</a>
        <a href="/dashboard">Dashboard</a>
    </div>
    <div class="column column-2">
        <h1 class="footer-title">Support</h1>
    <div class="seperator"></div>

        <a href="#">Help Center</a>
        <a href="#">Status</a>
        <a href="#">Change Logs</a>
        <a href="#">Request a Feature</a>
        
    </div>

    <div class="column-3-container">
        <div class="column column-1">
            <h1 class="footer-title">Legal</h1>
            <div class="seperator"></div>
            <a href="">Terms & Conditions</a>
            <a href="">Privacy Policy</a>
            
        </div>
        <div class="column column-2">   
            <h1 class="footer-title">Socials</h1>  
            <div class="seperator"></div>
            <div class="socials-icons-container">
                <a href="https://www.instagram.com/projectkresta.official/" target="_blank" rel="noopener noreferrer"><img src="../../src/assets/icons/footer/instagram.png" alt=""></a>
                <a href="https://www.linkedin.com/showcase/project-kresta"><img src="../../src/assets/icons/footer/linkedin.png" alt="" target="_blank" rel="noopener noreferrer"></a>
                <a href="mailto:project.kresta@gmail.com"><img src="../../src/assets/icons/footer/mail.png" alt="" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>

    </div>
</div>

<div class="seperator"></div>

<div class="container-2">
    <img src="../../src/assets/icons/footer/logo-footer.png" alt="">
    <p>© 2025 Project Kresta. Developed and maintained by KEA4 DIGITAL.<br>This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License. All Rights Reserved.</p>
</div>
