<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Red+Hat+Display:wght@400;500&family=Staatliches&display=swap" rel="stylesheet">
    <title>Login | Project Kresta</title>
</head>
<body class="login">
    <div class="login-container">
        <div class="login-container-left">
            <img class="login-logo" src="./assets/images/login/login-logo.png" alt="Logo">
        </div>
        <div class="login-container-right">
            <h1>Login</h1>
            <p>Hello there! Please enter your details.</p>
            <form action="">
                <p class="details-title"><img src="./assets/icons/login/email.png" alt="">Email</p>
                <input type="email" placeholder="Email" required>
                <p class="details-title"><img src="./assets/icons/login/lock.png" alt="">Password</p>
                <input type="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p class="forgot-password"><a href="#">Forgot Email or Password?</a></p>
            <p>Don't have an account yet? <a href="#">Click here</a></p>
            <p>or</p>
            <button class="continue-with-btn"><img src="./assets/icons/login/google.png" alt="">Continue with Google</button>
            <button class="continue-with-btn"><img src="./assets/icons/login/mail-outline.png" alt="">Continue with Email</button>
        </div>
    </div>
</body>
</html>