<nav>
    <a href="/home" class="logo"><img src="../assets/images/logo.png" alt="Logo"></a>
    
    <ul class="nav-links">
        <li style="--delay: 1"><a class="nav-link" href="/home">Home</a></li>
        <span class="nav-separator"></span>
        <li style="--delay: 2"><a class="nav-link" href="/about">About</a></li>
        <span class="nav-separator"></span>
        <li style="--delay: 3"><a class="nav-link" href="/contact">Contact</a></li>
        <span class="nav-separator"></span>
        <li style="--delay: 4"><a class="nav-link" href="/pricing">Pricing</a></li>
    </ul>

    <a href="/login" class="login-btn">Login | Register</a>
    
    <button class="nav-btn" aria-label="Toggle navigation">
        <img src="../assets/icons/menu.png" alt="Menu" class="menu-icon">
    </button>
</nav>
