<nav>
    <img class="logo" src="../assets/images/logo.png" alt="Logo">
    
    <ul class="nav-links">
        <li style="--delay: 1"><a class="nav-link" href="/index.html">Home</a></li>
        <span class="nav-separator"></span>
        <li style="--delay: 2"><a class="nav-link" href="/about.html">About</a></li>
        <span class="nav-separator"></span>
        <li style="--delay: 3"><a class="nav-link" href="/contact.html">Contact</a></li>
        <span class="nav-separator"></span>
        <li style="--delay: 4"><a class="nav-link" href="/pricing.html">Pricing</a></li>
    </ul>

    <a href="dashboard.html" class="login-btn">Login | Register</a>
</nav>

<button class="nav-btn" aria-label="Toggle navigation">
    <img src="../assets/icons/menu.png" alt="Menu" class="menu-icon">
</button>