<nav>
    <ul class="nav-links">
        <li><a class="nav-link" href="/">Home</a></li>
        <span class="nav-separator"></span>
        <li><a class="nav-link" href="/about.html">About</a></li>
        <span class="nav-separator"></span>
        <li><a class="nav-link" href="/contact.html">Contact</a></li>
        <span class="nav-separator"></span>
        <li><a class="nav-link" href="/pricing.html">Pricing</a></li>
    </ul>

    <img class="logo" src="../assets/images/logo.png" alt="Logo">

    <button class="login-btn">Login | Register</button>
</nav>