<!-- Sidebar -->
<div id="mySidenav" class="sidenav">
    <div class="nav-header">
        <img src="../../src/assets/icons/sidebar/sidebar-logo.png" alt="Logo" class="logo">
        <!-- <img src="../../src/assets/icons/menu.png" alt="Menu" class="menu-btn"> -->
    </div>
    <div class="nav-items">
        <div class="container">
            <a href="dashboard.html" class="nav-link">
                <img src="../../src/assets/icons/sidebar/dashboard.png" alt="Dashboard">
                <span>Dashboard</span>
            </a>
            <a href="notification.html" class="nav-link">
                <img src="../../src/assets/icons/sidebar/notif-bell.png" alt="Notification">
                <span>Notification</span>
            </a>

        </div>
        <div class="container">
            <a href="planner.html" class="nav-link">
                <img src="../../src/assets/icons/sidebar/planner.png" alt="Planner">
                <span>Planner</span>
            </a>
            <a href="tasks.html" class="nav-link">
                <img src="../../src/assets/icons/sidebar/tasks.png" alt="Tasks">
                <span>Tasks</span>
            </a>
            <a href="analytics.html" class="nav-link">
                <img src="../../src/assets/icons/sidebar/analytics.png" alt="Analytics">
                <span>Analytics</span>
            </a>
        </div>
        <div class="container">
            <a href="profile.html" class="nav-link">
                <img src="../../src/assets/icons/sidebar/user.png" alt="Profile">
                <span>Profile</span>
            </a>
        </div>
    </div>
</div>