@use '../base/animations' as *;
@use '../base/typography' as *;
@use '../base/colors' as *;
@use '../base/breakpoints' as *;

.index-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    background-color: $accent-white;

    .hero-section-1{
        display: flex;
        justify-content: flex-end;
        background-image: url('../assets/images/hero/hero-section-1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        min-height: 100vh;

        .hero-content {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 50px;
            width:50%;
            height: 100%;
            text-align: center;
            color: white;
            background-color: rgba($primary-navy-blue, 0.8);
            
            h1 {
                @extend .banner-text;
                font-size: 5em;
                color: $accent-white;
                letter-spacing: 2px;
                text-shadow: 0 4px 24px rgba(0, 0, 0, 0.45), 0 1.5px 0 rgba(0,0,0,0.15);
            }

            p {
                color: $accent-white;
                @extend .display-1;
                font-size: 2em;
                max-width: 600px;
                margin: 0 auto;
            }

            img{
                height: 150px;
                width: 150px;
            }

            .sign-in-btn{
                @extend .button-cta;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                justify-self: center;
                padding: 10px 20px;
                background-color: $accent-black;
                border-radius: 15px;
                gap:10px;
                @include hover-lift;
                @include button-border-animation($tertiary-beige);
                img{
                    width: 20px;
                    height: 20px;
                    @include hover-grow;
                }
            }
        }
    }

    .hero-section-2{
        background-color: $tertiary-beige;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 5em 2em;
        gap: 2em;
        height: 90vh;
        width: 100%;
        min-height: fit-content;

        .hero-section-img-2{
            width: 40%;
            max-width: max-content;
        }

        .caption{
            width: 40%;
            gap: 2em;
            @extend .body-regular;
            display: flex;
            flex-direction: column;

            .point-1, .point-2{
                @extend .body-regular;
                color: $accent-black;
                display: inline-flex;
                align-items: center;
                gap: 1em;

                img {
                    width: 40px;
                    height: 40px;
                    @include hover-grow;
                }
            }
        }
    }
    
    .hero-section-3 {
        background-color: $primary-navy-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 5em 2em;
        gap: 2em;
        height: 90vh;
        width: 100%;
        min-height: fit-content;

        .hero-section-img-3{
            width: 40%;
            max-width: max-content;
        }

        .caption{
            width: 40%;
            gap: 2em;
            @extend .body-regular;
            color: $tertiary-beige;
            display: flex;
            flex-direction: column;

            .point-3, .point-4{
                @extend .body-regular;     
                display: inline-flex;
                align-items: center;
                gap: 1em;

                img {
                    width: 40px;
                    height: 40px;
                    @include hover-grow;
                }
            }
        }
    }

    .hero-section-4{
        // background-color: $tertiary-beige;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 5em 2em;
        gap: 2em;
        height: 90vh;
        width: 100%;
        min-height: fit-content;

            .caption{
            width: 40%;
            gap: 2em;
            @extend .body-regular;
            display: flex;
            flex-direction: column;

            .point-5, .point-6{
                @extend .body-regular;
                color: $accent-black;
                display: inline-flex;
                align-items: center;
                gap: 1em;

                img {
                    width: 40px;
                    height: 40px;
                    @include hover-grow;
                }
            }
        }
    }

    .hero-section-5{
            display: flex;
            flex-direction: row;
            background-color: $primary-navy-blue;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 5em 2em;
            gap: 2em;
            height: auto;
            min-height: fit-content;
            width: 100%;

            p{
                @extend .body-regular;
            }

            .card{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                gap: 1em;
                min-height: 900px;
                width: 33vw;
                background-color: $tertiary-beige;
                border: $accent-white 15px solid;
                border-radius: 1rem;
                padding: 2rem;
                @include hover-lift;
                // min-height: 600px;

                img {
                    max-width: 100%;
                    height: auto;
                    @include hover-fade;
                }
            }
        }
    
    .hero-section-6{
        background-color: $accent-black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 5em 2em;
        gap: 50px;
        height: auto;
        min-height: fit-content;
        width: 100%;

        .display-1{
            color: $accent-white;
        }
        
        .card-container{
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 80px;

            .card-plans {
                width: 400px;
                min-height: 550px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                padding: 2rem;
                border-radius: 1rem;
                @include hover-lift;

                &.card-1 {
                    background-color: $tertiary-beige;
                    border: $primary-navy-blue 10px solid;

                    .price {
                        color: $accent-black;
                    }

                    .plan {
                        color: $accent-black;
                    }
                }

                &.card-2 {
                    background-color: $primary-navy-blue;
                    border: $tertiary-beige 10px solid;

                    .card-seperator{
                        color: $tertiary-beige;
                    }

                    .price, .plan {
                        color: $tertiary-beige;
                    }
                    ul{
                        color:$tertiary-beige;
                        li{
                            color: $tertiary-beige;
                            @extend .body-large;
                        }
                    }
                }

                &.card-3 {
                    background-color: $accent-black;
                    border: $accent-white 10px solid;

                    .card-seperator{
                        color: $accent-white;
                    }

                    .price, .plan {
                        color: $accent-white;
                    }

                    ul{
                        color:$accent-white;
                        li{
                            color: $accent-white;
                            @extend .body-large;
                        }
                    }
                }

                .price {
                    font-family: $font-cardo;
                    font-weight: 400;
                    text-align: center;
                    font-size: 65px;
                    line-height: 1; // Changed from -10px to 1
                    display: flex;  // Added
                    flex-direction: column; // Added
                    align-items: center; // Added
                    gap: 0; // Added

                    .month {
                        font-family: $font-cardo;
                        font-size: 20px;
                        margin-top: 0px; // Added to reduce space
                    }
                }

                .plan {
                    @extend .h1;
                    letter-spacing: 3px;
                }

                .card-seperator {
                    width: 200px;
                    height: 10px;
                    background-color: currentColor;
                    border-radius: 20px;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    
                    li {
                        @extend .body-regular;
                        color: inherit;
                        margin: 10px 0;
                        @extend .body-large;
                    }
                }
            }
        }
    }

    .hero-section-7{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .seperator{
            width: 60%;
            height: 5px;
            background-color: $accent-white;
            margin: 0 auto;
            border-radius: 10px;
        }

        .subtitle{
            @extend .subtitle;
            text-align: center;
            margin: 0 auto;
        }

        .email-listing-container{

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 0 auto;
            padding: 20px 0;

            input{
                @extend .body-regular;
                width: 400px;
                height: 50px;
                border-radius: 0.5rem;
                padding: 1rem 1.5rem;
                border: $accent-black 2px solid;
                outline: none;
            }

            button{
                @extend .button-cta;
                background-color: $accent-black;
                color: $tertiary-beige;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;
                @include hover-lift;
                @include button-border-animation($tertiary-beige);
            }
        }

        p{
            @extend .body-regular;
            color: $accent-black;
            text-align: center;
            margin: 0 auto;
        }

        .connected-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 0 auto;
            padding: 20px 0;

            img{
                width: 50px;
                height: 50px;
                @include hover-grow;
            }
        }
    }
    
    .point-1, .point-2, .point-3, .point-4, .point-5, .point-6 {
        img {
            @include hover-grow;
        }
    }

    .hero-section-8{
        background-color: $primary-navy-blue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 90vh;
        img{
            width: 90%;
            height: 90%;
        }

        .section-8-container-1{
            img{
                width: 100%;
                height: 100%;
            }
        }

        .section-8-container-2{
            display: flex;
            flex-direction: column;
            gap:40px;

            .display-1{
                @extend .h1;
                color: $accent-white;
                text-align: center;
                margin: 0 auto;
            }

            p{
                @extend .body-regular;
                color: $accent-white;
                text-align: center;
                margin: 0 auto;
            }

            .about-us{
                @extend .button-cta;
                color: $accent-white;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin: 0 auto;
                padding: 20px 0;
                border: $accent-white 2px solid;
                border-radius: 10px;
                padding: 10px;
                @include hover-grow;

                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }

    } 
}
