@use '../base/animations' as *;
@use '../base/typography' as *;
@use '../base/animations' as *;
@use '../base/colors' as *;
@use '../base/breakpoints' as *;

.index {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;

    .hero-section-1{
        display: flex;
        justify-content: flex-end;
        background-image: url('../assets/images/hero/hero-section-1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        min-height: fit-content;

        .hero-content {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 50px;
            width:50%;
            height: 100%;
            text-align: center;
            color: white;
            background-color: rgba($primary-navy-blue, 0.8);
            
            h1 {
                @extend .banner-text;
                font-size: 5em;
                color: $tertiary-beige;
                letter-spacing: 2px;
                text-shadow: 0 4px 24px rgba(0, 0, 0, 0.45), 0 1.5px 0 rgba(0,0,0,0.15);
            }

            p {
                color: $tertiary-beige;
                @extend .display-1;
                font-size: 2em;
                max-width: 600px;
                margin: 0 auto;
            }

            img{
                height: 150px;
                width: 150px;
            }

            .sign-in-btn{
                @extend .button-cta;
                display: inline-flex;
                align-items: center;
                padding: 10px 20px;
                background-color: $accent-black;
                border-radius: 15px;
                gap:10px;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .hero-section-2{
        background-color: $tertiary-beige;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 5em 2em;
        gap: 2em;
        height: 90vh;
        min-height: fit-content;

        .hero-section-img-2{
            width: 40%;
        }

        .caption{
            width: 40%;
            gap: 2em;
            @extend .body-regular;
            display: flex;
            flex-direction: column;

            .point-1, .point-2{
                @extend .body-regular;
                color: $accent-black;
                display: inline-flex;
                align-items: center;
                gap: 1em;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    
    .hero-section-3 {
        background-color: $primary-navy-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 5em 2em;
        gap: 2em;
        height: 90vh;
        min-height: fit-content;

        .hero-section-img-3{
            width: 40%;
            object-position: right bottom;
        }

        .caption{
            width: 40%;
            gap: 2em;
            @extend .body-regular;
            color: $tertiary-beige;
            display: flex;
            flex-direction: column;

            .point-3, .point-4{
                @extend .body-regular;     
                display: inline-flex;
                align-items: center;
                gap: 1em;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
